@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.cdnfonts.com/css/star-wars');
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 200;
  font-style: normal;
}
#catAsci{
  color: aliceblue;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 3.5vh;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rectangle {
    transition: filter 0.3s ease;
    cursor: pointer;

    margin: 0;
    
    width:40vw;
    height: 40vh;
    margin-left: 3vw;
    transform: translateX(3vw);
    transform: translateY(-5vw);

    display: inline-block;
    justify-content: center;
    position: relative;
    overflow: hidden;
    align-items: center;
}
.text{
    width:40vw;
    height: 40vh;
    transform: translateX(10vw);
    transform: translateY(-5vh);

    display: inline-block;
    justify-content: center;
    position: relative;
    overflow: visible;
    align-items: top;

}
#StarWars{
    font-family: 'Star Wars', sans-serif;
    font-size: 2.9vh;
    color: white;
}

#title{
  font-family: "Chango", sans-serif;
  color: #7b6fb4  ;
}
.rectangle:hover {
  filter: drop-shadow(0 10px 22px rgba(186, 85, 211, 0.6)); /* Purple glow */
}
#gallery{
    
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}
#info{
  font-size: 3vh;
  color:#b4befe
}
#CNITV{
  color:#b4befe;
  text-decoration: none;
}
#CNITV:hover{
  color: #a6e3a1;
  text-decoration: none;
}
#pain{
  color:#f38ba8
}
#opportunity{

}
/* --- TYPING CONTAINER --- stolen from the internet*/

.typing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
  color: white;
  font-family: monospace;
  font-size: 2vw;
  text-align: center;
}

.line-1, .line-2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: .15em solid #cba6f7;
}

.line-1 {
  animation: 
    typing-1 1.5s steps(9) forwards,
    blink-caret .7s step-end infinite;
}

.line-2 {
  display: block;
  animation: 
    typing-2 2.5s steps(24) 1.5s forwards,
    blink-caret .7s step-end infinite;
}

@keyframes typing-1 {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes typing-2 {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
}