@import url(https://fonts.googleapis.com/css?family=Press+Start+2P:regular);
@import url(https://fonts.googleapis.com/css?family=Cause:100,200,300,regular,500,600,700,800,900);
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
@import url('https://fonts.cdnfonts.com/css/star-wars');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:wght@100..900&family=Chango&family=Jersey+15&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Single:slnt,CRSV@-8..0,1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&family=Berkshire+Swash&family=Protest+Strike&display=swap');

.ballet-BalletFont {
  font-family: "Ballet", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: bold;
}

@font-face {
  font-family: 'AngerisPixel';
  src: url('fonts/AngerisPixel-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Diences';
    src: url('fonts/DiencesBlackletterFont.otf') format('opentype');
}
@font-face {
    font-family: 'Vintage';
    src: url('fonts/VintageGoods.ttf') format('truetype');
}
.berkshire-swash-regular {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-style: normal;
}


.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.jersey-15-regular {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.protest-strike-regular {
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bitcount-single {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" -8,
    "CRSV" 1,
    "ELSH" 0,
    "ELXP" 0;
}


.page-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}
::-moz-selection { 
  background: rgb(136, 57, 239);
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  
}
.chango-regular {
  font-family: "Chango", sans-serif;
  font-weight: 200;
  font-style: normal;
}
#catAsci{
  grid-area: catAscii;
  color: #a5adcb;
  font-family:Arial, Helvetica, sans-serif ;
  font-size: 2rem;
  margin-bottom: 7rem;
}
.container {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: auto auto -35rem auto auto;
  grid-template-areas:
    "header header"
    "text catImgs"
    "song quote"
    "button button"
    "footer footer";
  gap:3rem 6rem;
  /*prima dist intre randuri ,iar a doua coloane*/
  justify-content: center;
  align-items: start;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 5px;
}
.container div.catImg{
  grid-area: catImgs;
  display: flex;
  width: 100%;
}
.container div.buttonNxt{
  grid-area: button;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.rectangle{
  width: 100%;
  max-width: 80rem;
  height: 25rem;
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;

}
.aboutMe{
  color: #7b6fb4;
  font-size: clamp(1.8rem, 1rem + 2vw, 1.5rem);
  font-family: 'Press Start 2P', cursive;
}
.text h1{
  align-self: flex-start;
  color: #7b6fb4;
  font-size: clamp(0.6rem, 1rem + 2vw, 1.2rem);
  font-family: 'Press Start 2P', cursive;
}
.text {
    grid-area: text;
    width: 100%;
    min-height: 12rem;
    max-height: 25rem;
    overflow-y: auto;
    scrollbar-color: rgb(177, 123, 207) #45475a;


    background-color: rgba(46, 35, 194, 0.113);
    border-radius: 25px;

    background-image: url('symbols/star.svg');
    background-size: 20px;
    background-repeat: round;

    
    padding: 20px;

    
    border: 3px solid #0f0f18;
    font-family: 'Space Mono', monospace;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    
    position: relative;
}
#music{
  margin-top: -1rem;
  text-align: left;
  font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.25rem);
  font-family: "Protest Strike", sans-serif;
  color:#b4befe
}
#music a{
  color:#7049a5
}
#music a:hover {
  color: #563e63; 
  text-decoration: underline;
}
#StarWars{
    font-family: 'Star Wars', sans-serif;
    font-size:  clamp(0.875rem, 0.75rem + 0.5vw, 1.25rem);;
    color: white;
}


.quote{
  grid-area: quote;
  min-height: 6rem;
  max-height: 12rem;
  object-fit: fill;
  background: url('symbols/starBackround.jpg');
  border-radius: 25px;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align:center

}
.quote h1{
  margin-left: 1.2rem;
  margin-right: 1.2rem;
  font-size: 2.5rem;
  color: rgb(201, 197, 209);
}
.container div.title{
  margin-top: 3rem;
  grid-area: header;
  text-align: center;
  font-family: 'AngerisPixel', sans-serif;
  color: #7b6fb4  ;
  font-size: clamp(2rem, 2rem + 2vw, 5.5rem);
}

.song{
  grid-area: song;
  border-radius: 12px;
  width: 100%;
  height: 220px;
  border: none;
  
}

.container div.footer{
  grid-area: footer;
  text-align: center;
  font-family: 'AngerisPixel', sans-serif;
  color: #7b6fb4  ;
  font-size: clamp(1.8rem, 1rem + 2vw, 3.5rem);
}

.rectangle:hover {
  filter: drop-shadow(0 10px 22px rgb(136, 57, 239)); 
}
#gallery{
    
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}
#info{
  font-size: clamp(0.875rem, 0.75rem + 0.5vw, 1.25rem);
  font-family: "Protest Strike", sans-serif;
  color:#b4befe
}
#CNITV{
  color: #475a46;
  text-decoration: none;
}
#CNITV:hover{
  color:#a6e3a1;
  text-decoration: none;
}
#pain{
  color:#f38ba8
}
#opportunity{

}
/* --- TYPING CONTAINER --- stolen from the internet*/

.typing-container {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
  color: #bcc0cc;
  font-family: monospace;
  font-size: 2vw;
  text-align: center;
}
.line-1, .line-2 {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: .1.5em solid #cba6f7; 
}

.line-1 {
  animation: 
    typing-1 1.5s steps(9) forwards,
    blink-caret .7s step-end infinite;
}

.line-2 {
  display: block;
  animation: 
    typing-2 2.5s steps(24) 1.5s forwards,
    blink-caret .7s step-end infinite;
}

@keyframes typing-1 {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes typing-2 {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
}
/*more code from the internet*/
button.expand {
  --button-height: clamp(40px, 6vh, 60px);
  min-height: var(--button-height);
  height: auto; 
  width: auto;
  max-width: 100%;
  overflow: hidden;
  outline: none;
  background-color: rgb(57, 47, 105);
  border-radius: 8px;
  
  padding: clamp(8px, 1.5vh, 14px) clamp(16px, 3vh, 32px);
  border: none;
  color: #b7bdf8;
  font-family: "chango-regular";
  cursor: pointer;

  position: relative;
  transform: none;
  margin: 0 auto;

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: padding 0.3s ease, background-color 0.2s ease;
}
.expand-icon {
  --icon-size: 4vw;
  position: absolute;
  top: 0;
  height: var(--button-height);
  width: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s, background-color 0.2s;
}

.expand-icon > svg {
  height: var(--icon-size);
  width: var(--icon-size);
  transition: transform 0.2s;
}

.expand-icon:hover {
  background-color: rgb(84, 68, 161);
}

.expand-icon:hover > svg {
  transform: scale(1.2);
}

.expand-icon.option-left {
  left: 0;
  border-right: 1px solid #838383;
  transform: translateX(calc(-1 * var(--button-height) - 1px));
}

.expand-icon.option-right {
  right: 0;
  border-left: 1px solid #838383;
  transform: translateX(calc(var(--button-height) + 1px));
}

button.expand:hover,
button.expand.loading {
  padding-left: calc(25px + var(--button-height));
  padding-right: calc(25px + var(--button-height));
}

button.expand:hover .expand-icon.option-left,
button.expand:hover .expand-icon.option-right {
  transform: translateX(0);
  transition: transform 0.3s 0.05s;
}

.button-text{
  font-size: clamp(12px, 2.2vh, 18px);
  font-family: "Bitcount Single", system-ui;
  white-space: normal;
  text-align: center;
}
.button-text:hover {
  text-shadow: 0px 4px 12px rgb(119, 49, 212);
}
@media (max-width: 1050px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    gap: 2rem;
    overflow-x: hidden; 
  }
  .container div.catImg,
  .container div.buttonNxt {
    width: 100%;
    display: flex;
    justify-content: center; 
  }
  .text, .quote,.music {
    width: 100%;
    max-height: none; 
    box-sizing: border-box;
    margin: 0;
  }
  
  .rectangle {
    height: 15rem; 
    width: 100%; 
  }
}

/*copy-pasted off interner*/
.gradient-border {
  --border-width: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  /* Remove fixed width and height so it fits your text! */
  width: 100%;
  box-sizing: border-box;
  
  color: rgb(177, 162, 208);
  background: url('symbols/starBackround.jpg');
  border-radius: 25px;
  padding: 1.5rem;
}

.gradient-border::after {
  position: absolute;
  content: "";
  top: calc(-1 * var(--border-width));
  left: calc(-1 * var(--border-width));
  z-index: -1;
  width: calc(100% + var(--border-width) * 2);
  height: calc(100% + var(--border-width) * 2);
  background: linear-gradient(
    60deg,
  hsl(231deg, 97%, 72%),
    hsl(269, 42%, 31%),
    hsl(278, 18%, 18%),
    hsl(266deg, 85%, 58%),
    hsl(231, 37%, 21%)
  );
  background-size: 300% 300%;
  background-position: 0 50%;
  border-radius: 28px; /* Matches the outer border radius */
  animation: moveGradient 4s alternate infinite;
}

@keyframes moveGradient {
  50% {
    background-position: 100% 50%;
  }
}